

.love{
    margin-top: 40px;
    margin-bottom: 30px;
    
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #884ea0 ;
    position: relative;
    top: 0.15rem;
    left: 48.5%;
    animation: beating 2s ease infinite;
}
.love::before, .love::after{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: rotate(-45deg);
    background:  #884ea0 ;
    position: absolute;
   
}
.love::before{
    top: 0px;
    left: -25px;
}
.love::after{
    top: -25px;
}
@keyframes beating {
    0% {
        transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(1.6);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
  }
  
   